<div class="qor-page__body">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}
</div>

<link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/publish2.css?theme=publish2">
<script src="/admin/assets/javascripts/publish2.js?theme=publish2"></script>
